<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/header.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/general.css" type="text/css" />
    <title>ProConnect</title>
  </head>
  <body>
    <header class="header">
      <img
        class="logo"
        src="../static/img/Logo-Thick.png"
        alt="Proconnect logo"
      />
      <nav class="main-nav">
        <ul class="main-nav-list">
          <li><a class="main-nav-link" href="#">Home</a></li>
          <li><a class="main-nav-link" href="#">Services</a></li>
          <li><a class="main-nav-link" href="#">About</a></li>
          <li><a class="main-nav-link" href="#">Contact</a></li>
          <li><a class="main-nav-link nav-cta" href="#">Get Started</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="section-hero">
        <div class="hero">
          <div class="hero-text-box">
            <h1 class="heading-primary">ProConnect</h1>
            <p class="hero-description">
              Unlock your potential.<br />Connect, Exchange Skills, and
              Collaborate.
            </p>
            <a href="#" class="btn btn--full margin-right-sm">Get Started</a>
            <a href="#" class="btn btn--outline">Learn More &darr;</a>
            <div class="collaborators">
              <div class="collaborators-imgs">
                <img
                  src="../static/img/uifaces-popular-image-1.jpg"
                  alt="Collaborators Image"
                />
                <img
                  src="../static/img/uifaces-popular-image-2.jpg"
                  alt="Collaborators Image"
                />
                <img
                  src="../static/img/uifaces-popular-image-3.jpg"
                  alt="Collaborators Image"
                />
                <img
                  src="../static/img/uifaces-popular-image-4.jpg"
                  alt="Collaborators Image"
                />
                <img
                  src="../static/img/uifaces-popular-image-5.jpg"
                  alt="Collaborators Image"
                />
                <img
                  src="../static/img/uifaces-popular-image-6.jpg"
                  alt="Collaborators Image"
                />
              </div>
              <p class="collaborators-txt">
                Over <span>500+</span> Existing collaborators
              </p>
            </div>
          </div>
          <div class="hero-img-box">
            <img
              src="../static/img/coworking-vectorportal copy.svg"
              class="hero-img"
              alt="hero image"
            />
          </div>
        </div>
      </section>

      <section class="section-how">
        <div class="container">
          <span class="subheading">How to collaborate</span>
          <h2 class="heading-secondary">
            Sculpting ideas to reality in 3 simple steps
          </h2>
        </div>
        <div class="container grid grid--2-cols">
          <div class="step-text-box">
            <p class="step-number">01</p>
            <h3 class="heading-tertiary">Search for a collaborator</h3>
            <p class="step-description">
              Are you tired of endless searching for the perfect team members?
              Our app revolutionizes the way you find collaborators by allowing
              you to search for professionals with specific skillsets. Whether
              you need a graphic designer, a software developer, or a marketing
              guru, our advanced search filters make it simple to find the exact
              talent you need. Search by Skills, Find Detailed Profiles, and
              Instant Match.
            </p>
          </div>
          <div class="step-img-box">
            <img
              src="../static/img/search.svg"
              class="step-img"
              alt="search the app"
            />
          </div>
        </div>
        <div class="container grid grid--2-cols">
          <div class="step-img-box">
            <img
              src="../static/img/collaborate.svg"
              class="step-img"
              alt="collaborate"
            />
          </div>
          <div class="step-text-box">
            <p class="step-number">02</p>
            <h3 class="heading-tertiary">Collaborate with ease</h3>
            <p class="step-description">
              Once you've found your dream team, our app provides all the tools
              you need to collaborate effectively. Work together in real-time,
              share ideas, and manage your projects effortlessly from one
              unified platform such as Real-Time Collaboration, Project
              Management Tools, and File Sharing.
            </p>
          </div>
        </div>
        <div class="container grid grid--2-cols">
          <div class="step-text-box">
            <p class="step-number">03</p>
            <h3 class="heading-tertiary">Succeed together</h3>
            <p class="step-description">
              Turning ideas into profitable ventures has never been easier. Our
              app not only supports the collaboration process but also helps you
              launch your projects and start earning; we offer Monetization
              Options, Marketing Support, and Success Analytics.
            </p>
          </div>
          <div class="step-img-box">
            <img src="../static/img/success.svg" />
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
