<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProConnect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
    <!-- Header with Logo and Navigation -->
    <header class="main-header">
        <div class="logo">
            <img src="https://github.com/SeunAkinbo/ProConnect/blob/master/flask_app/static/img/Logo-Thick.png?raw=true" alt="ProConnect Logo">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="#about">About</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#testimonials">Testimonials</a></li>
                <li><a href="#about">Contact</a></li>
            </ul>
        </nav>
    </header>
     
    <!-- Hero Section -->
    <section class="hero">
        <div class="container">
	    {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="auth-alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h1>ProConnect</h1>
            <p>Unlock your potential. Connect, exchange skills, and collaborate.</p>
            <button id="get-started-btn" class="btn-container">Get Started</button>
	    <a href="#about" class="btn-secondary">Learn More &darr;</a>
	    <div class="collaborators">
              <div class="collaborators-imgs">
                <img
                  src="https://github.com/SeunAkinbo/ProConnect/blob/master/flask_app/static/img/uifaces-popular-image-1.jpg?raw=true"
                  alt="Collaborators Image"
                />
                <img
                  src="https://github.com/SeunAkinbo/ProConnect/blob/master/flask_app/static/img/uifaces-popular-image-2.jpg?raw=true"
                  alt="Collaborators Image"
                />
                <img
                  src="https://github.com/SeunAkinbo/ProConnect/blob/master/flask_app/static/img/uifaces-popular-image-3.jpg?raw=true"
                  alt="Collaborators Image"
                />
                <img
                  src="https://github.com/SeunAkinbo/ProConnect/blob/master/flask_app/static/img/uifaces-popular-image-4.jpg?raw=true"
                  alt="Collaborators Image"
                />
                <img
                  src="https://github.com/SeunAkinbo/ProConnect/blob/master/flask_app/static/img/uifaces-popular-image-5.jpg?raw=true"
                  alt="Collaborators Image"
                />
                <img
                  src="https://github.com/SeunAkinbo/ProConnect/blob/master/flask_app/static/img/uifaces-popular-image-6.jpg?raw=true"
                  alt="Collaborators Image"
                />
              </div>
              <p class="collaborators-txt">
                Over <span>500+</span> Existing collaborators
              </p>
            </div>
          </div>
        </div>
    </section>

    <!-- Popup Box for Authentication Options -->
    <div id="auth-popup" class="auth-popup">
        <div class="auth-popup-content">
            <span class="close-btn">&times;</span>
            <h2>Welcome to ProConnect</h2>
	    <p>Login or Signup to create profile, connect, exchange skills, and collaborate.</p>
            <button id="login-btn" class="btn1">Login</button>
            <button id="signup-btn" class="btn2">Sign Up</button>
            <button id="continue-btn" class="btn3">Stay Logged Out</button>
        </div>
    </div>

    <!-- About Section -->
    <section id="about" class="about">
        <div class="container">
            <h2>ProConnect: Unleash the Power of Your Skills</h2>
	    <p>We're a passionate bunch at ProConnect, and we know the frustration of traditional job markets limiting your potential. That's why we built this platform – a space where your skills shine and collaboration fuels your dreams.</p>
	    <p><b>Imagine this:</b></p>
	    <ul>
	      <li>Your brilliant startup idea taking flight with the perfect coding partner by your side.</li>
	      <li>Launching your freelance business with a marketing whiz amplifying your talents.</li>
	      <li>Contributing your data analysis expertise to a world-changing social impact project.</li>
	    </ul>
	    <p>ProConnect connects you with the missing pieces. Find skilled individuals who share your vision, collaborate seamlessly, and build something extraordinary together. Our platform fosters partnerships based on mutual exchange, leaving traditional limitations behind.</p>
	    <p><b>Join the ProConnect movement and:</b></p>
	    <ul>
	      <li>Showcase your skills: Create a detailed profile to highlight your expertise and experience.</li>
	      <li>Find your perfect match: Search for individuals with complementary skills to complete your dream team.</li>
	      <li>Collaborate effortlessly: Our platform streamlines communication and project management.</li>
	      <li>Build your network: Connect with like-minded individuals and forge lasting partnerships.</li>
	    </ul>
	    <p>ProConnect is more than just a platform; it's a thriving community. A community where skills are valued, collaboration thrives, and anyone can turn their dreams into reality. Become part of the movement and unlock the true potential of what's possible. Join us today!</p>
	</div>
        
        <!-- Our Team Section -->
        <div class="teamz">
            <h2>Our Team</h2>
            <div class="teamz-container">
                <div class="teamz-member">
                    <img src="https://avatars.githubusercontent.com/u/36178371?v=4" alt="Teamz Member Image">
                    <h3>Seun Akinbo (Lead Backend Developer):</h3>
                    <p>Seun has extensive experience in entrepreneurship and business development. He then takes the lead as the backend developer, responsible for infrastructure setup, and ensuring data integrity and security. His leadership skills and technical expertise make him an ideal candidate for this role.</p>
                    <div class="social-icons">
                        <a href="https://github.com/SuenAkinbo/ProConnect" target="_blank"><img src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="GitHub"></a>
                        <a href="https://linkedin.com/in/" target="_blank"><img src="https://static.vecteezy.com/system/resources/previews/023/986/970/large_2x/linkedin-logo-linkedin-logo-transparent-linkedin-icon-transparent-free-free-png.png" alt="LinkedIn"></a>
                    </div>
                </div>
                <div class="teamz-member">
                    <img src="https://avatars.githubusercontent.com/u/140454543?v=4" alt="Teamz Member Image">
                    <h3>Brenda Rikhotso (Lead Frontend Developer):</h3>
                    <p>With over 8 years of experience in startup project and operation management, Brenda is equipped to focus on designing and developing user-friendly interfaces, ensuring accessibility, and conducting frontend testing. Her expertise in frontend development and project management makes her an excellent fit for this role.</p>
                    <div class="social-icons">
                        <a href="https://github.com/brikhotso" target="_blank"><img src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="GitHub"></a>
                        <a href="https://linkedin.com/in/brenda-rikhotso-a8747874" target="_blank"><img src="https://static.vecteezy.com/system/resources/previews/023/986/970/large_2x/linkedin-logo-linkedin-logo-transparent-linkedin-icon-transparent-free-free-png.png" alt="LinkedIn"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Features Section -->
    <section id="features" class="features">
        <h2>Our Features</h2>
        <div class="features-container">
            <div class="feature" style="background-image: url('https://i.imgur.com/3oIu0vu.jpg');">
                <h3><a href="{{ url_for('dashboard') }}#skill-search">Skill Exchange Marketplace</a></h3>
                <p>Exchange your skills for services or assistance from others.</p>
            </div>
            <div class="feature" style="background-image: url('https://i.imgur.com/dAAFICP.png');">
                <h3><a href="{{ url_for('dashboard') }}#team-view">Project Collaboration</a></h3>
                <p>Collaborate on projects and explore entrepreneurial ventures.</p>
            </div>
            <div class="feature" style="background-image: url('https://i.imgur.com/E8fYaq2.png');">
                <h3>Start-Up Ideas</h3>
                <p>Get suggestions for start-up ideas based on your skills and interests. <strong>(Coming Soon)</strong></p>
            </div>
        </div>
    </section>

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials">
        <div class="container">
            <h2>What Our Users Say</h2>
            <div class="testimonial">
                <p>"ProConnect completely changed the game for me! As a freelancer, finding consistent projects was a constant struggle. But with ProConnect, I was able to connect with a talented web developer who needed help with marketing his services. We formed a fantastic partnership, and now we work together on a regular basis.  ProConnect helped me find the perfect collaborator and build a successful freelance business based on skill exchange, not just money."</p>
                <p>- Sarah Jones, Marketing Specialist</p>
            </div>
            <div class="testimonial">
                <p>"I had a great startup idea, but I lacked the design expertise to create a user-friendly interface. ProConnect was a lifesaver!  I found a fantastic graphic designer through the platform, and together we turned my idea into a reality.  The skill exchange aspect was amazing. I offered my coding skills in exchange for her design work, and it was a win-win situation for both of us. ProConnect is a fantastic platform for anyone looking to collaborate, share skills, and turn their dreams into reality."</p>
                <p>-  David Kim, Software Engineer</p>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 ProConnect. All rights reserved.</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
