<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - ProConnect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="auth-page">
  <div class="auth-container">
        {% for field, errors in form.errors.items() %}
	    {% for error in errors %}
	        <div class="auth-alert auth-alert-danger">{{ error }}</div>
	    {% endfor %}
	{% endfor %}
	
        <h2>Register</h2>
        <form method="POST" action="{{ url_for('register') }}">
            {{ form.hidden_tag() }}
            <div class="auth-form-group">
                {{ form.email.label }}
                {{ form.email(size=32, class_='form-control') }}
            </div>
            <div class="auth-form-group">
                {{ form.password.label }}
                {{ form.password(size=32, class_='form-control') }}
            </div>
            <div class="auth-form-group">
                {{ form.confirm_password.label }}
                {{ form.confirm_password(size=32, class_='form-control') }}
            </div>
            <button type="submit" class="auth-btn auth-btn-primary">Register</button>
        </form>
        <p>Already have an account? <a href="{{ url_for('login') }}" class="auth-link">Login here</a>.</p>
    </div>
</body>
</html>
